<div class="apresent__container">
  <h1>Locais para Conhecer</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium suscipit elit non cursus. Donec lobortis dui at lacus accumsan pulvinar. Nunc imperdiet non risus eget facilisis. Suspendisse convallis fringilla sem nec scelerisque. Nunc lobortis,</p>

  <div class="apresent-buscador">
    <input type="text" placeholder="Encontre Lugares Inspiradores" class="apresent-input">
    <button class="busca">
      <img src="imgs/LupaIcon.png" alt="fasdasd">
    </button>
  </div>
</div>
