<div class="appresen__container">

  <div class="appresen-name">
    <h1>Fazenda Rio Grande</h1>
    <p>São José dos Pinhais, Paraná, Brasil</p>
    <h1>Escolha seu <br> Evento</h1>
  </div>

  <div class="evento">
    <h1>Colheira de Morangos</h1>
    <input type="checkbox" name="" id=""><span> Ter. 14/01/2025</span>
    <input type="checkbox" name="" id=""><span> Quar. 15/01/2025</span>
    <input type="checkbox" name="" id=""><span> Quin. 16/01/2025</span>
    <input type="checkbox" name="" id=""><span> Sex. 17/01/2025</span>

    <button>Comprar<br>ingresso</button>
  </div>

</div>
