<div class="container__header-top">
  <a href="#"><img src="/imgs/ParanaLogo.png" alt=""></a>
  <div class="fast-access-choices">

    <button type="button">
    <fa-icon [icon]="faMap"></fa-icon> Onde ir
    </button>
    <button type="button">
      <fa-icon [icon]="faUtensils" class="utensils"></fa-icon>Onde Comer
    </button>
    <button type="button">
      <fa-icon [icon]="faHotel" class="utensils"></fa-icon>Lugares para Ficar
    </button>
    <button type="button">
      <fa-icon [icon]="faShoePrints" class="utensils"></fa-icon>O que Fazer
    </button>
  </div>
  <div class="right-choices">
    <a href="#">Inscreva-se</a>
    <a href="mailto: lucas.khmn@gmail.com">Contato</a>
  </div>
</div>
